@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("./images/bg-intro-desktop.png");
  background-color: hsl(0, 100%, 74%);
  color: #ffffff;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  padding: 6rem;
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 700;
}
h1,
p {
  text-align: left;
}

.hero_text {
  width: 500px;
}

.hero_text h1 {
  font-size: 3rem;
}

.form_div {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 30px;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

form {
  display: grid;
}

.div_form {
    position: relative;
  }
  
form div input {
  margin-bottom: 20px;
  height: 3rem;
  border-radius: 5px;
  border-width: 1px;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

form div label {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 10px;
  left: 25px;
  color: hsl(249, 10%, 26%);
}

/* Style input while in focus state */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  text-indent: 1rem;
  border: 3px solid hsl(246, 25%, 77%);
}

/* Indent valid input */
input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid {
  text-indent: 1rem;
}

/* Hides label when input is in focus */
div > input[type="text"]:focus + label,
div > input[type="email"]:focus + label,
div > input[type="password"]:focus + label {
  opacity: 0;
}

/* Hides label after input area contains valid text */
form > div > input[type="text"]:valid + label,
form > div > input[type="email"]:valid + label,
form > div > input[type="password"]:valid + label {
  opacity: 0;
}

/* Flags input border after input contains invalid entry being out of focus */
form > div > input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
form > div > input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
form > input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  /* show error logo*/
  background: url("./images/icon-error.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 5px;
  border: 3px solid hsl(0, 100%, 74%);
}

/* Hides input label after input contains invalid entry being out of focus */
form
  > div
  > input[type="text"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
form
  > div
  > input[type="email"]:invalid:not(:focus):not(:placeholder-shown)
  + label,
form
  > input[type="password"]:invalid:not(:focus):not(:placeholder-shown)
  + label {
  opacity: 0;
}

/* div > input:required:focus {
  /* border-color: hsl(0, 100%, 74%); */
  /* border: 3px solid hsl(0, 100%, 74%); */
/* } */ 

/* Style input box with error logo for invalid entry */
form > div > input[type="text"]:invalid:focus,
form > div > input[type="email"]:invalid:focus,
form > div > input[type="password"]:invalid:focus {
  /* show error logo*/
  background: url("./images/icon-error.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 95% center;
  padding-right: 5px;
  border: 1px solid hsl(0, 100%, 74%);
}

.requirements {
  color: hsl(0, 100%, 74%);
  font-style: italic;
  max-height: 0;
  transition: 0.28s;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: end;
}

input[type="text"]:invalid:focus:not(:placeholder-shown) ~ p,
input[type="email"]:invalid:focus:not(:placeholder-shown) ~ p,
input[type="password"]:invalid:focus:not(:placeholder-shown) ~ p {
  /* Show the more robust requirement instructions below. */
  max-height: 200px;
  /* padding: 0 30px 20px 50px; */
}

/* When that invalid input becomes in focus (and also still isn't empty) */
input[type="text"]:focus:not(:placeholder-shown) ~ p,
input[type="email"]:focus:not(:placeholder-shown) ~ p,
input[type="password"]:focus:not(:placeholder-shown) ~ p {
  /* Show the more robust requirement instructions below. */
  max-height: 200px;
  /* padding: 0 30px 20px 50px; */
}

/* Button */
.btn {
  color: white;
  height: 3rem;
  font-family: "Poppins", sans-serif;
}

.btn:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.trial_btn {
  background-color: hsl(248, 32%, 49%);
  width: 500px;
  text-align: center;
  margin-bottom: 2rem;
  border-width: 0px;
  border-style: none;
  border-color: white;
  border-radius: 5px;
}

.claim_trial {
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none;
}

small {
  color: darkgray;
  margin: 10px auto;
  text-align: center;
  display: block;
}

small a {
  color: red;
}

/* Media Queries */
@media (max-width: 375px) {
  main {
    display: block;
    padding: 0;
  }

  h1,
  p {
    text-align: center;
  }

  .hero_text {
    width: 320px;
    margin-bottom: 5rem;
  }

  .hero_text h1 {
    font-size: 2rem;
  }

  .form_div {
    padding: 20px;
    width: 321px;
  }

  .trial_btn {
    width: 321px;
    height: 5rem;
    padding: 1rem 4rem;
  }
}
/* 
- Blue: hsl(248, 32%, 49%)
Green: hsl(154, 59%, 51%)
### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)
*/
